<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Owners</title>
</head>
<body>
    <h1>All Owners</h1>
    {% for owner in owners %}
        <ul>
            <li><a href="{% url 'owner_detail' owner.pk %}">
                    {{ owner.first_name }} </a></li>
                    <a href="{% url 'owner_detail' owner.pk %}">Update</a>
                    <a href="{% url 'owner_delete' owner.pk %}">Delete</a>
                    <hr>
                    
        </ul>

    {% endfor %}
    
</body>
</html>